* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: max-content;
  position: relative;
}
.table_div {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  text-align: center;
}
.table {
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border: 1px red solid;
}
